<?xml version="1.0"?>
<!--
/**
 * @package Bitbull_Tooso
 * @author Gennaro Vietri <gennaro.vietri@bitbull.it>
 */
-->
<config>
    <modules>
        <Bitbull_Tooso>
            <version>4.1.0</version>
            <api_compatibility>v3.0</api_compatibility>
            <notes>Tracking javascript side, API v3 compatibility, catalog index upload to AWS S3.</notes>
        </Bitbull_Tooso>
    </modules>
    <global>
        <models>
            <tooso>
                <class>Bitbull_Tooso_Model</class>
            </tooso>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Bitbull_Tooso_Model_CatalogSearch_Resource_Fulltext</fulltext>
                    <query>Bitbull_Tooso_Model_Resource_CatalogSearch_Query</query>
                    <fulltext_collection>Bitbull_Tooso_Model_Resource_CatalogSearch_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <resources>
            <tooso_setup>
                <setup>
                    <module>Bitbull_Tooso</module>
                </setup>
            </tooso_setup>
        </resources>
        <helpers>
            <tooso>
                <class>Bitbull_Tooso_Helper</class>
            </tooso>
            <catalogsearch>
                <rewrite>
                    <data>Bitbull_Tooso_Helper_CatalogSearch_Data</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <blocks>
            <tooso>
                <class>Bitbull_Tooso_Block</class>
            </tooso>
        </blocks>
        <template>
            <email>
                <tooso_alert_email_template translate="label" module="tooso">
                    <label>Send report for API error</label>
                    <file>tooso_alert.html</file>
                    <type>html</type>
                </tooso_alert_email_template>
            </email>
        </template>
        <importexport>
            <export_file_formats>
                <tooso_csv translate="label">
                    <model_token>tooso/export_adapter_csv</model_token>
                    <label>CSV</label>
                </tooso_csv>
            </export_file_formats>
        </importexport>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <tooso_search_results_breadcrumbs>
                        <class>tooso/observer_search</class>
                        <method>showFixedSearchStringOnSearchResults</method>
                    </tooso_search_results_breadcrumbs>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <tooso_prepare_results>
                        <class>tooso/observer_search</class>
                        <method>prepareResults</method>
                    </tooso_prepare_results>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <controller_action_postdispatch_catalogsearch_result_index>
                <observers>
                    <tooso_elaborate_rank_collection>
                        <class>tooso/observer_search</class>
                        <method>elaborateRankCollection</method>
                    </tooso_elaborate_rank_collection>
                </observers>
            </controller_action_postdispatch_catalogsearch_result_index>


            <controller_action_layout_render_before>
                <observers>
                    <tooso_clear_search_id>
                        <type>singleton</type>
                        <class>tooso/observer_search</class>
                        <method>clearSearchId</method>
                    </tooso_clear_search_id>
                    <tooso_tracking_library>
                        <type>singleton</type>
                        <class>tooso/observer_tracking</class>
                        <method>includeLibrary</method>
                    </tooso_tracking_library>
                    <tooso_tracking_page>
                        <type>singleton</type>
                        <class>tooso/observer_tracking</class>
                        <method>includePageTrackingScript</method>
                    </tooso_tracking_page>
                    <tooso_suggestion_frontend_init>
                        <type>singleton</type>
                        <class>tooso/observer_suggestion</class>
                        <method>initLibrary</method>
                    </tooso_suggestion_frontend_init>
                    <tooso_suggestion_frontend_pipeline>
                        <type>singleton</type>
                        <class>tooso/observer_suggestion</class>
                        <method>includeLibrary</method>
                    </tooso_suggestion_frontend_pipeline>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_render_before_catalog_product_view>
                <observers>
                    <tooso_tracking_product>
                        <type>singleton</type>
                        <class>tooso/observer_tracking</class>
                        <method>includeProductTrackingScript</method>
                    </tooso_tracking_product>
                </observers>
            </controller_action_layout_render_before_catalog_product_view>
            <controller_action_layout_render_before_checkout_onepage_success>
                <observers>
                    <tooso_track_checkout>
                        <type>singleton</type>
                        <class>tooso/observer_tracking</class>
                        <method>includeCheckoutTrackingScript</method>
                    </tooso_track_checkout>
                </observers>
            </controller_action_layout_render_before_checkout_onepage_success>

            <checkout_cart_add_product_complete>
                <observers>
                    <tooso_track_add_to_cart>
                        <type>singleton</type>
                        <class>tooso/observer_tracking</class>
                        <method>trackAddToCart</method>
                    </tooso_track_add_to_cart>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_quote_remove_item>
                <observers>
                    <tooso_track_add_to_cart>
                        <type>singleton</type>
                        <class>tooso/observer_tracking</class>
                        <method>trackRemoveFromCart</method>
                    </tooso_track_add_to_cart>
                </observers>
            </sales_quote_remove_item>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bitbull_Tooso before="Mage_Adminhtml">Bitbull_Tooso_Adminhtml</Bitbull_Tooso>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <tooso>
            <active>
                <frontend>0</frontend>
                <index>0</index>
                <suggestion>0</suggestion>
            </active>
            <server>
                <api_key />
                <api_base_url>https://api.tooso.ai</api_base_url>
                <api_version>3</api_version>
                <send_report>1</send_report>
                <force_log>1</force_log>
                <debug_mode>0</debug_mode>
            </server>
            <indexer>
                <attributes_to_index>sku,name,description,price,short_description,status,visibility,special_price,is_in_stock,variants,categories</attributes_to_index>
                <attributes_simple_to_index>sku,name,description,price,short_description</attributes_simple_to_index>
            </indexer>
            <suggestion>
                <include_library>0</include_library>
                <library_endpoint>https://cdndev.tooso.ai/jquery.ts-dev.js</library_endpoint>
                <input_selector>input[type=search]</input_selector>
                <language>en</language>
                <uid />
                <buckets>relevant,trending</buckets>
                <limit>20</limit>
                <groupby>1</groupby>
                <nocache>0</nocache>
                <onselect_behaviour>submit</onselect_behaviour>
                <onselect_callback>function() { this.form.submit(); }</onselect_callback>
                <minchars>1</minchars>
                <width>auto</width>
                <with_custom>auto</with_custom>
                <zindex>100000</zindex>
            </suggestion>
            <analytics>
                <api_version>1</api_version>
                <include_library>1</include_library>
                <library_endpoint>https://analyticsdev.tooso.ai/ta.js</library_endpoint>>
            </analytics>
        </tooso>
    </default>
    <crontab>
        <jobs>
            <tooso_reindex>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>tooso/observer_index::rebuildIndex</model>
                </run>
            </tooso_reindex>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <tooso>
                <use>standard</use>
                <args>
                    <module>Bitbull_Tooso</module>
                    <frontName>tooso</frontName>
                </args>
            </tooso>
        </routers>
    </frontend>
</config>
