<?xml version="1.0"?>
<!--
/**
 * @package Bitbull_Tooso
 * @author Gennaro Vietri <gennaro.vietri@bitbull.it>
 */
-->
<config>
    <sections>
        <tooso translate="label" module="tooso">
            <label>Tooso Search Engine</label>
            <tab>catalog</tab>
            <sort_order>9000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info translate="label">
                    <label>About</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <module_version translate="label">
                            <frontend_type>text</frontend_type>
                            <frontend_model>tooso/adminhtml_system_version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Current installed module]]></comment>
                        </module_version>
                    </fields>
                </info>
                <tool translate="label">
                    <label>Tools</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tail_log translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>tooso/adminhtml_system_TailLog</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tail_log>
                        <clear_log translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>tooso/adminhtml_system_ClearLog</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </clear_log>
                        <rebuild translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>tooso/adminhtml_system_Rebuild</frontend_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rebuild>
                    </fields>
                </tool>
                <active translate="label">
                    <label>Active Tooso</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <frontend translate="label">
                            <label>Enable Search</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Use Tooso for search on frontend]]></comment>
                        </frontend>
                        <tracking translate="label">
                            <label>Enable Tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable/disable end user tracking]]></comment>
                        </tracking>
                        <index translate="label">
                            <label>Enable Indexing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Enable/disable scheduled reindex process]]></comment>
                        </index>
                        <suggestion translate="label">
                            <label>Suggestion client side</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable/disable frontend side suggestion]]></comment>
                        </suggestion>
                        <sdk translate="label">
                            <label>Include Javascript SDK</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable/disable frontend Javascript SDK]]></comment>
                        </sdk>
                    </fields>
                </active>
                <server translate="label">
                    <label>API Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_key translate="label">
                            <label>API key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <api_version translate="label">
                            <label>API Version</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tooso/system_config_source_apiVersions</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_version>
                        <api_base_url translate="label">
                            <label>API base url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_base_url>
                        <send_report>
                            <label>Send report</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Send a report to Tooso when an API error occourred]]></comment>
                        </send_report>
                        <force_log>
                            <label>Force logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Force logging to {{base_dir}}/var/log/tooso_search.log even when logging is disabled]]></comment>
                        </force_log>
                        <debug_mode>
                            <label>Debug mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable more verbose logging for debug purpose]]></comment>
                        </debug_mode>
                    </fields>
                </server>
                <search translate="label">
                    <label>Search Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <response_type translate="title">
                            <label>Enrich response</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[IMPORTANT NOTICE: Once this function is activated, switching back from ‘YES’ to ‘NO’ can impact your front end. Before doing it, please make sure that your Magento theme can handle an empty response from the product information retrieval function.]]></comment>
                        </response_type>
                    </fields>
                </search>
                <indexer translate="label">
                    <label>Indexer Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <stores_to_index translate="title">
                            <label>Store Views</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>tooso/system_config_source_stores</source_model>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </stores_to_index>
                        <attributes_to_index translate="title">
                            <label>Attributes - Configurable Product</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>tooso/system_config_source_attributes</source_model>
                            <backend_model>tooso/system_config_backend_attributes</backend_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Select up to 30 attributes]]></comment>
                        </attributes_to_index>
                        <attributes_simple_to_index translate="title">
                            <label>Attributes - Simple Product</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>tooso/system_config_source_attributesSimple</source_model>
                            <backend_model>tooso/system_config_backend_attributes</backend_model>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Select up to 30 attributes]]></comment>
                        </attributes_simple_to_index>
                        <dry_run_mode>
                            <label>Dry run mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>34</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Use a local file (var/log/tooso_index_%store id%.csv) instead to send it]]></comment>
                        </dry_run_mode>
                        <inventory_support>
                            <label>Inventory Support</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tooso/system_config_source_stockSupport</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[You must have "Multi Warehouse Inventory" module installed]]></comment>
                        </inventory_support>
                        <access_key>
                            <label>AWS Access key id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </access_key>
                        <secret_key>
                            <label>AWS Secret key</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>46</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </secret_key>
                        <bucket>
                            <label>AWS Bucket name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </bucket>
                        <path>
                            <label>AWS Object path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>48</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Must end with a slash]]></comment>
                        </path>
                    </fields>
                </indexer>
                <suggestion translate="label">
                    <label>Suggest client side</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <include_library>
                            <label>Include Tooso suggest javascript library</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Disable if you want to include it by yourself]]></comment>
                        </include_library>
                        <library_endpoint>
                            <label>Tooso suggest javascript library endpoint</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </library_endpoint>
                        <input_selector>
                            <label>Input selector</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </input_selector>
                        <buckets>
                            <label>Buckets</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>tooso/system_config_source_suggestionBuckets</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </buckets>
                        <limit>
                            <label>Limit results</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </limit>
                        <groupby>
                            <label>Group by</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </groupby>
                        <!--
                        <nocache>
                            <label>Disable Cache</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nocache> -->
                        <onselect_behaviour>
                            <label>On-select behaviour</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tooso/system_config_source_suggestionOnSelectBehaviour</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </onselect_behaviour>
                        <onselect_callback>
                            <label>Custom on-select callback</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><onselect_behaviour>custom</onselect_behaviour></depends>
                        </onselect_callback>
                        <minchars>
                            <label>Minimum number of chars</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minchars>

                        <width>
                            <label>Width</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tooso/system_config_source_suggestionWidth</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <width_custom>
                            <label>Custom width in pixel</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><width>custom</width></depends>
                        </width_custom>

                        <zindex>
                            <label>Z-Index</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </zindex>
                    </fields>
                </suggestion>
                <analytics translate="label">
                    <label>Analytics</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <include_library>
                            <label>Include Tooso analytics javascript library</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Disable if you are using a tag manager]]></comment>
                        </include_library>
                        <library_endpoint translate="label">
                            <label>Javascript library endpoint</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </library_endpoint>
                        <api_endpoint translate="label">
                            <label>TrackingAPI endpoint</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_endpoint>
                        <api_version translate="label">
                            <label>API Version</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tooso/system_config_source_apiAnalyticsVersions</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_version>
                        <key translate="label">
                            <label>Analytics Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </key>
                        <debug_mode>
                            <label>Debug mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable for debug purpose]]></comment>
                        </debug_mode>
                        <cookie_domain>
                            <label>Cookie domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Leave empty for all subdomains]]></comment>
                        </cookie_domain>
                    </fields>
                </analytics>
                <sdk translate="label">
                    <label>Javascript SDK</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<b>These features require SDK and tracking library to be active</b>]]></comment>
                    <fields>
                        <library_endpoint translate="label">
                            <label>Javascript library endpoint</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <sdk>
                                    <fieldset>active</fieldset>
                                    <value>1</value>
                                </sdk>
                                <tracking>
                                    <fieldset>active</fieldset>
                                    <value>1</value>
                                </tracking>
                            </depends>
                        </library_endpoint>
                        <core_key>
                            <label>Override core key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Leave empty to use search API key]]></comment>
                            <depends>
                                <sdk>
                                    <fieldset>active</fieldset>
                                    <value>1</value>
                                </sdk>
                                <tracking>
                                    <fieldset>active</fieldset>
                                    <value>1</value>
                                </tracking>
                            </depends>
                        </core_key>
                        <language>
                            <label>Override language locale</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Leave empty to use Magento store locale]]></comment>
                            <depends>
                                <sdk>
                                    <fieldset>active</fieldset>
                                    <value>1</value>
                                </sdk>
                                <tracking>
                                    <fieldset>active</fieldset>
                                    <value>1</value>
                                </tracking>
                            </depends>
                        </language>
                    </fields>
                </sdk>
                <speech_to_text translate="label">
                    <label>Speech to Text</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<b>This feature require SDK and tracking library to be active</b>]]></comment>
                    <fields>
                        <https_check>
                            <label>HTTPS Check</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>tooso/adminhtml_system_httpsCheck</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </https_check>
                        <input_selector>
                            <label>Input selector</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Leave empty to use the same as suggestion]]></comment>
                        </input_selector>
                        <example_template>
                            <label>Use example template inijection</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Used only for demo pourpose]]></comment>
                            <depends>
                                <sdk>
                                    <fieldset>active</fieldset>
                                    <value>1</value>
                                </sdk>
                                <tracking>
                                    <fieldset>active</fieldset>
                                    <value>1</value>
                                </tracking>
                            </depends>
                        </example_template>
                    </fields>
                </speech_to_text>
            </groups>
        </tooso>
    </sections>
</config>
