<?xml version="1.0"?>
<!--
/**
 * @package Bitbull_Tooso
 * @author Gennaro Vietri <gennaro.vietri@bitbull.it>
 */
-->
<config>
    <sections>
        <tooso translate="label" module="tooso">
            <label>Tooso Search Engine</label>
            <tab>catalog</tab>
            <sort_order>9000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info translate="label">
                    <label>About</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <module_version translate="label">
                            <frontend_type>text</frontend_type>
                            <frontend_model>tooso/adminhtml_system_version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Current installed module]]></comment>
                        </module_version>
                    </fields>
                </info>
                <tool translate="label">
                    <label>Tools</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tail_log translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>tooso/adminhtml_system_TailLog</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tail_log>
                        <clear_log translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>tooso/adminhtml_system_ClearLog</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </clear_log>
                    </fields>
                </tool>
                <active translate="label">
                    <label>Active Tooso</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <frontend translate="label">
                            <label>Enable Search</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Use Tooso for search on frontend]]></comment>
                        </frontend>
                        <tracking translate="label">
                            <label>Enable Tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable/disable end user tracking]]></comment>
                        </tracking>
                        <index translate="label">
                            <label>Enable Indexing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Enable/disable scheduled reindex process]]></comment>
                        </index>
                    </fields>
                </active>
                <server translate="label">
                    <label>API Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_key translate="label">
                            <label>API key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <secret_key translate="label">
                            <label>Secret key</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secret_key>
                        <api_base_url translate="label">
                            <label>API base url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_base_url>
                        <api_base_url_suggestions translate="label">
                            <label>API base url v1 (suggestions)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Override suggestions base url (leave empty to use default)]]></comment>
                        </api_base_url_suggestions>
                        <send_report>
                            <label>Send report</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Send a report to Tooso when an API error occourred]]></comment>
                        </send_report>
                        <force_log>
                            <label>Force logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Force logging to {{base_dir}}/var/log/tooso_search.log even when logging is disabled]]></comment>
                        </force_log>
                        <debug_mode>
                            <label>Debug mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable more verbose logging for debug purpose]]></comment>
                        </debug_mode>
                    </fields>
                </server>
                <indexer translate="label">
                    <label>Indexer Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <stores_to_index translate="title">
                            <label>Store Views</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>tooso/system_config_source_stores</source_model>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </stores_to_index>
                        <attributes_to_index translate="title">
                            <label>Attributes</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>tooso/system_config_source_attributes</source_model>
                            <backend_model>tooso/system_config_backend_attributes</backend_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Select up to 30 attributes]]></comment>
                        </attributes_to_index>
                        <dry_run_mode>
                            <label>Dry run mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Use a local file (var/log/tooso_index_%store id%.csv) instead to send it]]></comment>
                        </dry_run_mode>
                    </fields>
                </indexer>
                <!--index translate="label">
                    <label>Index</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <rebuild translate="label">
                            <label>Rebuild index</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>tooso/rebuild</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rebuild>
                    </fields>
                </index-->
                <suggest translate="label">
                    <label>Suggest</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <max_results translate="label">
                            <label>Max results to show</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_results>
                    </fields>
                </suggest>
            </groups>
        </tooso>
    </sections>
</config>
